@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

$margin-left: 3rem;
$margin-right: 5rem;

@mixin display-width {
  width: 75%;
  max-width: 750px;
}

.displayed-todos {
  $elem-width: calc(100% - #{$sidebar-width});
  @include flex-centred(column);
  height: calc(100vh - #{$menu-height-mobile});
  width: $elem-width;
  min-width: 323px;
  margin-top: $menu-height-mobile;
  margin-left: calc(#{$sidebar-width} + #{$margin-left});
  transition: all 1s 200ms ease-out;

  &--minimized {
    margin-left: calc((100vw - #{$elem-width})/2);
    margin-right: calc((100vw - #{$elem-width})/2);
  }

  &__header {
    @include flex-centred(row);
    @include display-width;
    justify-content: space-between;

    margin: 2rem 0;
  }
  
  &__title {
    font-weight: bold;
  }

  &__tag {
    font-size: 16px;
    font-style: italic;
    opacity: .8;
  }

  &__container{
    @include flex-centred(column);
    @include display-width;
    align-items: flex-start;
    padding: 0 10px;
  }

  .todo {
    order: 1;
    &.complete {
      order: 2;
    }
  }
}

.todos-info {
  font-size: 14px;

  & * {
    color: $placeholder-gray;
  }
}
