
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

$margin-left: 3rem;
$margin-right: 5rem;

@mixin display-width {
  width: 75%;
  max-width: 750px;
}

.displayed-todos {
  $elem-width: calc(100% - #{$sidebar-width});
  @include flex-centred(column);
  height: calc(100vh - #{$menu-height-mobile});
  width: $elem-width;
  min-width: 323px;
  margin-top: $menu-height-mobile;
  margin-left: calc(#{$sidebar-width} + #{$margin-left});
  transition: all 1s 200ms ease-out;

  &--minimized {
    margin-left: $logo-width; 

    @include for-tablet-up {
      margin-left: calc((100vw - #{$elem-width})/2);
      margin-right: calc((100vw - #{$elem-width})/2);
    }
  }

  .todo-wrapper {
    $input-number-min-width: 45px;
    width: 100%;
    .todo-elements-form {
      grid-template-columns: minmax(120px, 75%) minmax($input-number-min-width, 20%) 1fr;
      padding: 0 5px 1rem;
      margin-left: 1.4rem;

      &__input {
        border-bottom: 1px solid $fake-light-grey;
      }

      &__label,
      &__input.input__element {
        font-size: 14px;
        min-width: 75px;
      }
      &__input[type='number'] {
        line-height: inherit;
        min-width: $input-number-min-width;
      }
      .create {
        width: 20px;  
      }
    }
  }

  &__header {
    @include flex-centred(row);
    @include display-width;
    justify-content: space-between;

    margin: 2rem 0;
  }
  
  &__title {
    font-weight: bold;
  }

  &__tag {
    font-size: 16px;
    font-style: italic;
    opacity: .8;
  }

  &__container{
    @include flex-centred(column);
    @include display-width;
    min-width: 300px;
    align-items: flex-start;
    padding: 0 10px;
  }
}

.todos-info {
  font-size: 14px;

  & * {
    color: $placeholder-gray;
  }
}
