@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.todo {
  display: grid;
  grid-template-columns: 1fr 100px;
  row-gap: .39rem;
  position: relative;
  margin-bottom: 2.125rem;
  width: 100%;
  
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.8em;
    height: 1px;
    background: $fake-light-grey;
  }
  
  &__name {
    grid-row: 1;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;

    &:hover {
      .todo__custom-checkbox {
        transform: scale(1.2);
        color: var(--clr-primary);
      }
    }
  }

  $checkbox-size: 0.85em;
  &__custom-checkbox {
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    margin-right: calc(#{$checkbox-size} - 4px);
    border: 0.13rem solid $fake-light-grey;
    border-radius: 50%;
    transform: scale(1) translateY(1px);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
  }

  &__price,  
  &__icons {
    grid-row: 2;
  }

  &__price {
    margin-left: calc(#{$checkbox-size} * 2 - 1px);
    font-size: 14px;
    color: $placeholder-gray;
  }
  &__icons {
    display: flex;
    justify-content: flex-end;
    
    & > * {
      margin-left: 12px;
      height: auto;
      cursor: pointer;
    }
  }

  &__delete {
    width: 18px,
  }

  &__subtask-toggle {
    width: 18px;
    transform: translateY(1px);
  }

  &.subtask {
    $margin-left: 1.4rem;
    width: calc(100% - #{$margin-left});
    margin-left: $margin-left;
    margin-bottom: .95  rem;

    transform: translateY(-.47rem);
    &:after {
      bottom: -0.45em
    }

  }

}

.complete {

  .todo {
    &__name,
    &__price {
     color: $light-blue-85;
    }
    &__name {
      text-decoration: line-through;
    }
    &__custom-checkbox {
      background: $light-blue-35;
      border-color: $light-blue-35;
      box-shadow: inset 0 0 0px 2px white;
    }
  }

}
