@use '../../../styles/vars' as *;

@mixin shrinkLabel {
  top: -14px !important;
  font-size: 12px;
}

.input { 
  position: relative;
  margin-bottom: 2rem;
  
  &__element{
    display: block;
    min-width: 280px;
    width: 100%;
    padding: 10px 10px 10px 5px;
    
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
    font-size: 18px;

    &:focus {
      outline: none;
    }

    &:focus ~ .input__label {
      @include shrinkLabel;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    
    color: $placeholder-gray;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel;
    }
  }
}