@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.todo-lists {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: $menu-height-mobile;
  height: calc(100vh - #{$menu-height-mobile});
  width: $sidebar-width;
  min-width: 320px;
  background-color: $light-grey;
  opacity: 1;
  z-index: 1;
  transition: all 1s 200ms ease-out;

  &:before {
    position: absolute;
    content: '';
    background-color: $light-grey;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin: 2.3rem 0 1.1rem $sidebar-margin-left;
  }

  &__minimize {
    width: 45px;
    height: auto;
    cursor: pointer;
  }
  


  &__icon-container{
    height: fit-content;
  }

  & > *,
  .icon-container__label {
    transition: opacity 300ms 600ms ease;
  }

  &__icons-container {
    margin-left: $sidebar-margin-left; 
    transition: all 300ms 500ms ease-out;
  }

  &--minimized {
    width: $logo-width;
    min-width: $logo-width;
    .todo-lists__title,
    .list-item,
    .todo-lists-form {
      opacity: 0;
      transform-origin: left;
      visibility: hidden;
      transition: all 400ms ease-out, transform 5s ease-out;
    }
    .todo-lists__icons-container {
      margin-left: 0px;
    }
    .icon-container__label {
      opacity: 0;
      width: 0;
    }
  }
}

.icon-container {
  display: flex;
  height: 45px;
}

.todo-lists-form {
  @include form-icon-input;
  grid-template-columns: minmax(220px, 60%) 1fr;
}