@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.form__submit {
  background: $light-blue;
  border: none;
  color: $white;
}

.user-form {
  &__submit {
    margin-top: 1.7rem;
    padding: 1rem 7rem;
    border-radius: 8px;
    font-size: 18px;
    min-width: 300px;
    cursor: pointer;
  }
}

.create {
  $size: 24px;
  width: $size;
  height: $size;
}

.icon-submit {
  cursor: pointer;
}