@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.list-item {
  @include flex-centred(row);
  justify-content: space-between;
  margin: 0 calc(#{$sidebar-margin-left} + 20px) 0 calc(#{$sidebar-margin-left} + 8px);
  margin-bottom: 1rem;

  &__name {
    font-size: 18px;
    cursor: pointer;
  }

  &__delete {
    width: 16px;
    height: auto;
    cursor: pointer;
  }
}

.selected {
  color: $dark-blue;
  font-weight: bold;
}