@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

$margin-right: 5rem;

.todo-elements-form {
  @include form-icon-input;

  grid-template-columns: minmax(185px, 60%) minmax(55px, 20%) auto 1fr;
  padding-right: $margin-right;

  &__currency-icon {
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 18px;
    color: $placeholder-gray;
  }
}
