@use 'vars' as *;

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-tablet-up {
  @media (min-width: 600px) { @content; }
}

@mixin full-screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@mixin flex-centred($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin text-link {
  cursor: pointer;
  text-decoration: underline;
} 

@mixin button-reset {
  background: none;
  border: none;
}

@mixin form-icon-input {
  $input-width: 185px;
  display: grid;
  grid-template-columns: minmax($input-width, 60%) minmax(55px, 20%) 1fr;
  grid-template-rows: $input-height;
  grid-gap: 1rem;
  justify-self: flex-end;

  width: 100%;
  padding: 0 34px 1rem $sidebar-margin-left;
  margin: auto 0 1rem 0;

  &__input {
    min-width: $input-width;
    &[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield;
      min-width : inherit;

      font-size: 14px;
      line-height: 22px;
    }
  }
  &__submit {
    justify-self: end;
    align-self: flex-end;
  }
}

