$font-family: 'Lato', sans-serif;
$font-size-big: 24px;

$white: #fff;
$dark-grey: #5C5B5B;
$fake-light-grey: #DADADA;
$light-grey: #F4F4F4;
$placeholder-gray: rgba(0, 0, 0, 0.45);
$light-blue: #338CFF;
$light-blue-35: rgba(54, 140, 255, .35);
$light-blue-85: rgba(54, 140, 255, .85);
$dark-blue: #0050BB;

$gradient-blue: radial-gradient(179.35% 217.27% at 49.09% -79.09%, #FFFFFF 0%, #338CFF 41.15%, #0050BB 71.35%, #0146A3 100%);

$menu-height-mobile: 45px;
$input-height: 37px;
$sidebar-margin-left: 20px;
$sidebar-width: 33%;

