@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.welcome-page{
  @include full-screen;
  @include flex-centred(column);
  justify-content: space-between;
  padding: 5rem 0 2rem;
}

.user-form {
  @include flex-centred(column);
  min-height: 350px;
}

.logo {
  @include flex-centred(row);

  &__imagotype {
    width: 85px;
    height: 85px;
  }

  &__text-wrapper {
    margin-left: 1em;
  }

  &__title{
    font-weight: bold;
    font-size: $font-size-big;
    padding-bottom: .125em;
  }

}

.form-switch {
  margin-top: 1.75rem;
}